
@{
    ViewData["Title"] = "UserManagement";
}
<link rel="stylesheet" href="~/css/userManagement.css" />
<script src="~/lib/custom/userManage.js"></script>


<h2>User Management</h2>
&nbsp;
<div id="idUserList">
    <div class="list header">Name</div><div class="list header">Date of birth</div>
</div>
<div>
    <form>
        <label>Name: </label><input type="text" id="idName" name="Name" />
        <label>Date of birth: </label><input placeholder="MM/dd/yyyy" type="text" id="idDob" name="DateOfBirth" />
        <input type="button" id="idsave" value="Save" onclick="fnSaveDetails()" />
    </form>
</div>
